.services-section {
  padding: 80px 5px;
  background: linear-gradient(180deg, #000 0%, #0a0a0a 100%); /* Gradiente de negro a gris muy oscuro */
  color: white;
}

.section-subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #b3b3b3; /* Gris claro para el subtítulo */
  margin-bottom: 60px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin: 0px 4rem;
}

.service-card {
  background: #1a1a1a; /* Gris muy oscuro */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); /* Sombra más oscura */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #333; /* Borde gris */
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(110, 98, 124, 0.9);
  background: #222; /* Gris un poco más claro al hover */
}

.service-icon img {
  font-size: 2.5rem;
  margin-bottom: 20px;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  filter: brightness(0.9); /* Reduce brillo de imágenes */
}

.service-title {
  font-size: 1.5rem;
  color: white; /* Texto blanco */
  margin-bottom: 15px;
  min-height: 80px;
}

.service-description {
  color: #d9d9d9; /* Gris muy claro para texto */
  line-height: 1.6;
  margin-bottom: 20px;
  min-height: 280px;
}

.service-features {
  margin: 25px 0;
  padding-left: 20px;
}

.service-features li {
  margin-bottom: 10px;
  color: #cccccc; /* Gris claro */
  position: relative;
}

.service-features li:before {
  content: "•";
  color: #808080; /* Gris medio para los puntos */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.service-button {
  background-color: #333; /* Gris oscuro */
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: auto;
  margin-bottom: 20px;
  border: 1px solid #444; /* Borde gris */
}

.service-button:hover {
  background-color: #6097ca; /* Gris más claro al hover */
}

/* Responsive */
@media (max-width: 768px) {
  .service-card {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    min-height: auto;
  }

  .service-icon {
    display: flex;
    justify-content: center;
  }

  .services-grid {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }

  .section-title {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(43, 107, 145);
    margin-bottom: 15px;
  }

  .service-description {
    min-height: auto;
  }

  .section-subtitle {
    font-size: 1rem;
  }
}
